<article>
    <h2 class="article-title">Editorial Photography</h2>
    <figure class="article-image"><img src="./img/article1-cover-web-1024x800.jpg" alt="Worker solda metal structute">
        <figcaption> Photgraph for the 2019 cover of Plant Magazine </figcaption>
    </figure>
    <p>Editorial photography offers great carrer opportunities for photographers. First, if your work is chosen for the
        cover of the publication your audience and market exposure will grow exponentially. Another opportunity is the
        possibility of expanding your clientele and portfolio, as the assignment could lead to other potential offers by
        the
        client and you could sell your photographs as stock photography.</p>
</article>
<hr>
<article>
    <h2 class="article-title">Fruits in Acrylics</h2>
    <figure class="article-image"><img src="./img/article-2-acrylics_fruits2.jpg"
            alt="papaya fruit covered in acrylics">
        <figcaption> Photgraph for the 2019 cover of Plant Magazine </figcaption>
    </figure>
    <p>Finding subjects to photograph is a challenging task for any photographer. Some photographers prefer people as
        subjects fpr portraiture or street photography, others choose the landscape and the natural would, and some like
        me
        prefer abstract subjects. In this example of Fruits in Acrylics, the subject was completely covered in acrylics
        using the pouring technique to create the pattern. The subject was photographed as a whole and then as sections
        studying perspective, shape and form. </p>
</article>
<hr>
<article>
    <h2 class="article-title">Creating a Series for exhibition</h2>
    <figure class="article-image"><img src="./img/article3-equilibrium.jpg" alt="Worker solda metal structute">
        <figcaption> Photgraph of a shape formed by stacking pieces of newspaper </figcaption>
    </figure>
    <p>The word exhibition could be nerve racking for any artist, as it takes a tremendous amout of work getting the
        artwork
        ready, marketing and setting it up the exhibit space. However, once you overcome that fear you find that
        exhibiting
        your work is a thrilling and rewarding experience. Not only will you grow as an artist by receiving feedback
        from
        visitors and art critiques but by exposing yourself to new challenges. This image from the series Equilibrium,
        2020 > is part of a total of 10 images prepared for the annual Wall Candy Exhibition in 2020.</p>

</article>
