<h2 class="article-title">Portfolio</h2>
<div class="portf-container">
    <figure class="portf-image"><img src="../img/CS_MNT_camp-1024x812.jpg" alt="work examples for marketing campaign">
        <figcaption> Graphic Design-Marketing Campaign-Canada Soccer </figcaption>
    </figure>
    <p></p>
    <figure class="portf-image"><img src="../img/special-publications-CS-1024x812.jpg"
            alt="work examples for publications">
        <figcaption> Graphic Design-Publications-Canada Soccer </figcaption>
    </figure>
    <p></p>
    <figure class="portf-image"><img src="../img/PLNT2012NovDec-1-701x1024.jpg" alt="portrait of dynamo ceo">
        <figcaption> Photgraph for the 2012 cover of Plant Magazine </figcaption>
    </figure>
    <p class="extra-top-margin"></p>

    <figure class="portf-image"><img src="../img/PLT_JanFeb_2018_DE-1-782x1024.jpg" alt="Worker solda metal structute">
        <figcaption> Photgraph for the 2018 cover of Plant Magazine </figcaption>
    </figure>
    <p class="extra-top-margin"></p>
    <figure class="portf-image"><img src="../img/branding_events_fc.jpg" alt="work examples for publications">
        <figcaption> Graphic Design-Branding-FC Alliance </figcaption>
    </figure>
    <p></p>
    <figure class="portf-image"><img src="../img/FCAllianceMkt-1024x812.jpg" alt="work examples for branding">
        <figcaption> Photgraph for the 2019 cover of Plant Magazine </figcaption>
    </figure>
    <p></p>
</div>
